# Ignore temporary editor files.
.*.sw[po]
*~

# Ignore project files.
*.pyproj
*.sublime-project
*.sublime-workspace
.vscode

# Ignore built documentation
_build

# Ignore Tox files.
.tox/

# ignore Coverage.py files
.coverage
htmlcov/

# Ignore files created by setup.py.
build/
*.egg-info/

# Ignore compiled Python files.
__pycache__
